@use "../../assets/styles/" as *;

.container {
  background-color: #242526;
  border-radius: 6px;
  padding: 6px;
  @include flex($flexD: column);
  width: 100%;
}

.title {
  width: calc(100% - 12px - 32px);
  @include flex($justifyContent: start);
  width: 280px;
  color: white;
  background-color: #242526;
  margin: 0 16px 16px 16px;
  padding: 6px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.name {
  padding-left: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.btn {
  border-radius: 6px !important;
  width: 100% !important;
  display: flex !important;
  justify-content: start !important;
}
