@use "../../../assets/styles/" as *;

.container {
  background-color: $primaryBgColor;
  @include flex;
}

.wrap {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  @include flex($justifyContent: space-between);
}

.right {
  @include flex;
  gap: 20px;
}
