@use "../../../assets/styles/" as *;

.container {
  background-color: $primaryBgColor;
  width: 650px;
  // height: 600px;
  @include flex($flexD: column);
  border-radius: 8px;
}

.header {
  text-transform: uppercase;
  color: $primaryColor;
  font-size: 20px;
  padding: 6px;
}

.body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  &_left {
    padding: 0 12px;
    @include flex($flexD: column, $justifyContent: start);
    gap: 6px;
    &_avatar {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 1px solid $primaryColor;
      object-fit: contain;
    }

    &_list-title {
      margin: 8px;
      color: $primaryColor;
    }
    &_list-jobs {
      max-height: 180px;
      overflow: hidden;
      overflow-y: auto;
      border-top: 1px solid $primaryColor;
      border-bottom: 1px solid $primaryColor;
      padding: 5px;
      @include scrollBar($primaryColor);
      &-item {
        :first-child {
          color: $primaryColor;
        }
        @include flex($justifyContent: space-between);
        gap: 12px;
        padding: 4px;
      }
    }
  }

  &_right {
    padding: 0 12px;
    @include flex($flexD: column);
    gap: 6px;
  }
}

.footer {
  @include flex;
  gap: 30px;
  padding-top: 24px;
  padding-bottom: 12px;
}

.err_mes {
  color: red;
}

.textInput {
  width: 153px !important;
}

.settingJob {
  @include flex($justifyContent: space-between);
  gap: 12px;
  padding: 4px;
}

.changePassword {
  width: 211px;
  height: 56px;
}
