$bgColor: #ff720d;
$primaryBgColor: #2b2623;
$secondaryBgColor: #0e0803;
$primaryColor: #ff720d;
$subColor: #7e7e7e;
$fontColor: #000;
$dangerColor: rgb(255, 92, 90);
$successColor: rgb(43, 193, 86);
$warningColor: #ffab2d;
$infoColor: #016df0;
$redColor: #f72b50;
$greenColor: #68cf29;
$borderColor: #000;
