@use "../assets/styles/" as *;

.container {
  @include fullScreen;
  background-color: $secondaryBgColor;
}

.wrapper {
  width: 100%;
  margin: auto;
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: auto;
  @include scrollBar($primaryColor);
}

.content {
  width: 1200px;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  @include flex($alignItems: start);
}
